{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mb-5">
  {% include 'messages.html' %}
  <h1 class="text-center p-3 fw-bold text-success">Order ID: {{f.id}}</h1>
  <div class="row my-2">
    <div class="col-4">
      <img src="{{f.food_item.image.url}}" width="100%">
    </div>
    <div class="col-4 d-grid align-items-center poppins-regular">
      <div class="d-grid align-items-center border-end border-primary">
        <div class="d-grid align-items-center border border-primary p-3 mb-2 me-2" style="border-radius:10px">
          <h3 class="text-primary text-center">Item Details</h3>
          <h5>Item Name: {{f.food_item.name}}</h5>
          <p>Item Quantity: {{f.quantity}}</p>
          <p>Item Price: {{f.food_item.price}}</p>
        </div>
        <div class="d-grid align-items-center border border-primary p-3 me-2" style="border-radius:10px">
          <h3 class="text-primary text-center">Order Details</h3>
          <p>Name: {{f.user.first_name}} {{f.user.last_name}}</p>
          <p>Address: {{f.address}}</p>
          <p>Total: <span class="text-danger">{{f.amount}}</span></p>
        </div>
      </div>
    </div>
    <div class="col-4 d-grid align-items-center poppins-regular">
      <div class="d-grid align-items-center">
        {% if f.order_status == 'Pending' %}
        <div class="d-grid align-items-center border border-primary p-3 mb-2 me-2" style="border-radius:10px">
          <h2 class="text-danger text-center">{{f.order_status}}</h2>
        </div>
        {% elif f.order_status == 'Order Picked' %}
        <div class="d-grid align-items-center border border-primary p-3 mb-2 me-2" style="border-radius:10px">
          <h2 class="text-primary text-center">{{f.order_status}}</h2>
        </div>
        {% elif f.order_status == 'Out For Delivery' %}
        <div class="d-grid align-items-center border border-primary p-3 mb-2 me-2" style="border-radius:10px">
          <h2 class="text-success text-center">{{f.order_status}}</h2>
        </div>
        {% else %}
        <div class="d-grid align-items-center bg-success border border-light p-3 mb-2 me-2" style="border-radius:10px">
          <h2 class="text-light text-center">{{f.order_status}}</h2>
        </div>
        {% endif %}
        <div class="d-grid align-items-center border border-primary p-3 me-2" style="border-radius:10px">
          <form method="POST">
            {% csrf_token %}
            <div class="mb-2">
              <label class="form-label">Order Status:</label>
              <select name="order" class="form-control" id="order">
                <option value="Pending" {% if f.order_status == 'Pending' %}selected{% endif %}>Pending</option>
                <option value="Order Picked" {% if f.order_status == 'Order Picked' %}selected{% endif %}>Order Picked</option>
                <option value="Out For Delivery" {% if f.order_status == 'Out For Delivery' %}selected{% endif %}>Out For Delivery</option>
                <option value="Delivered" {% if f.order_status == 'Delivered' %}selected{% endif %}>Delivered</option>
              </select>
            </div>
            <div class="mb-2">
              <input type="submit" class="btn btn-outline-dark-purple" value="Update">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}