{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center p-5">
    <div class="d-grid place-items-center form border border-primary">
        {% include 'messages.html' %}
        <div class="mb-3">
            <h1 class="text-primary text-center fw-bold">Change Password</h1>
        </div>
        <form method="POST" class="poppins-regular">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">New Password:</label>
                <input type="password" class="form-control" name="new_password">
            </div>
            <div class="mb-3">
                <label class="form-label">Confirm Password:</label>
                <input type="password" class="form-control" name="cpassword">
            </div>
            <div class="mb-3 d-flex align-items-center">
                <input type="submit" class="form-control btn btn-outline-dark-purple" value="Submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}